.s2_size {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.rightbottom {
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 0;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  height: max-content;
}

.s2_background-circle {
  position: absolute;
  margin: 0 auto;
  left: 10%;
  top: -90%;
  width: 80%;
  height: 150%;
  border-radius: 50%;
  /* background-color: #3b6ce1; */
  background-color: #0839b0;
}

.s2_content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: max-content;
}

.s2_title {
  width: 60%;
  height: 20vh;
  margin: 0 auto;
  padding: 4% 0 0 0;
}

.s2_h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 36px;
  color: #ffffff;
  line-height: 36px;
}

.s2_circle {
  position: absolute;
  margin: 0;
  margin-bottom: 0%;
  margin-right: 0%;
  padding: 0;
  right: -2%;
  bottom: -2%;
  display: none;
}

.s2_c {
  width: 100%;
  height: max-content;
  display: flex;
}

.s2_columns {
  margin: 0 0.3%;
  padding: 0;
  width: 33%;
}

/* //////////////////////////////////////////////////////// */

.s2_firstcolum {
  margin: 0;
  padding: 0;
  height: max-content;
  width: 100%;
}

.s2_img-container {
  width: 100%;
  height: max-content;
}

.s2_credict-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.s2_text-container1 {
  display: block;
  margin: 0;
  margin-top: 10% ;
  width: 100%;
  padding: 1% 10%;
}

.s2_text-container2 {
  margin: 0;
  width: 100%;
  padding: 0% 10%;
}

.s2_h2 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 24px;
  color: #222222;
  line-height: 36px;
}


/* //////////////////////////////////////////////////////// */

.s2_phone-container {
  width: 100%;

}

.s2_phone-container > img {
  display: block;
  margin: 0 auto;
  width: 65%;
}



/* //////////////////////////////////////////////////////// */


.eth {
  margin: 0 !important;
}

.s2_eth-content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


.s2_eth-description {
  display: flex;
  height: max-content;
  align-items: center;
  width: 60%;
  padding: 0;
  margin: 0;
  padding-left: 8%;
}

.s2_eth-description-p {
  display: flex;
  height: max-content;
  align-items: center;
  width: 40%;
  padding: 0;
  margin: 0;
  
}

.s2_eth-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-left: 12%;
  text-align: left;
  line-height: 18px;
  color: #09c86c;
}

/*-------------------------------------------------------*/

.s2_cards-size {
  margin: 6% 0 0 0;
  background-color: #ffffff;
  display: flex;
  width: 60%;
  height: max-content;
  padding: 5% 0;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.s2_cards-size:hover {
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(-8px);
  box-shadow: 0 10px 20px #4d4d4d;
  cursor: pointer;
}

.s2_cards-left {
  display: block;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;
}


.s2_cards-right {
  display: flex;
  padding: 0;
  width: 30%;
  height: 100%;
  align-items: center;
  overflow: hidden;
}


.s2_cards-title {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.s2_cards-h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  text-align: left;
}

.s2_cards-description {
  display: flex;
  height: max-content;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 8%;
}


.s2_cards-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin: 0;
  text-align: left;
  line-height: 18px;
}

.s2_eth-img {
  height: auto;
  margin-left: -20%;
}

.s2_inv-img {
  height: auto;
  margin-left: -40%;
}
 
.s2_info-img {
  height: auto;
  margin-left: -10%;
}

@media screen and (max-width: 1250px) {
  .s2_background-circle {
    top: -100%;
  }

  .s2_size {
    height: max-content;
    width: 100%;
    padding: 0% 0 8% 0%;
  }

  .s2_content {
    width: 90%;
  }

  .s2_h2 {
    font-size: 20px;
    color: #222222;
    line-height: 22px;
  }

  .s2_phone-container > img {
    width: 70%;
  }

  .s2_cards-size {
    width: 80%;
  }
  

}

@media screen and (max-width: 1150px) {
  .s2_background-circle {
    top: -105%;
  }

  .s2_h1 {
    font-size: 28px;
    line-height: 28px;
  }
  
}

@media screen and (max-width: 1050px) {
  .s2_background-circle {
    top: -110%;
  }

  .s2_cards-h2 {
    font-size: 16px;
    line-height: 16px;
  }
  
}

@media screen and (max-width: 950px) {
  .s2_background-circle {
    top: -115%;
  }
  .s2_text-container1 {
    padding: 5% 5% 5% 0;
  }
  
  .s2_text-container2 {
    padding: 5% 5% 5% 0;
  }

  .s2_cards-size {
    width: 90%;
  }

  .s2_eth-p {
    font-size: 16px;
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .s2_phone-container > img {
    width: 80%;
  }

  .s2_cards-h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .s2_background-circle {
    top: -120%;
  }

  .s2_h1 {
    font-size: 24px;
    line-height: 24px;
  }

  .s2_cards-size {
    width: 100%;
  }

  .s2_cards-h2 {
    font-size: 14px;
    line-height: 14px;
  }
  
}

@media screen and (max-width: 750px) {
  .s2_background-circle {
    top: -150%;
  }

  .s2_title {
    width: 80%;
    padding: 6% 0 0 0;
  }

  .s2_phone-container > img {
    width: 90%;
  }

  .s2_text-container2 {
    margin-top: -6%;
  }

  .s2_eth-img {
    display: none;
  }
  
  .s2_inv-img {
    display: none;
  }
   
  .s2_info-img {
    display: none;
  }

  .s2_cards-left {
    width: 100%;
    padding: 0 2%;
  }
  
  .s2_cards-right {
    width: 0%;
  }

  .s2_eth-p {
    font-size: 14px;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .s2_h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .s2_title {
    height: 16vh;
  }

  .s2_text-container1 {
    padding: 5% 5% 0% 0;
  }
  
  .s2_text-container2 {
    padding: 0% 5% 5% 0;
  }

  .s2_cards-h1 {
    font-size: 14px;
  }

  .s2_cards-h2 {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 555px) {
  .s2_title {
    width: 90%;
    padding: 8% 0 0 0;
  }

  .s2_h1 {
    font-size: 20px;
    line-height: 20px;
  }

  .s2_h2 {
    font-size: 16px;
    line-height: 18px;
  }

  .s2_text-container2 {
    margin-top: -6%;
  }
}

@media screen and (max-width: 445px) {
  .s2_h2 {
    font-size: 14px;
    line-height: 16px;
  }
}


@media screen and (max-width: 402px) {
  .s2_title {
    width: 92%;
    padding: 8% 0 0 0;
  }

  .s2_h1 {
    font-size: 18px;
    line-height: 18px;
  }
}
