.s4_size {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  position: relative;
}

.s4_c {
  margin: 0;
  padding: 0;
  padding-left: 10%;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.s4_c2{
  margin: 0;
  padding-right: 10%;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.topleft {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  height: max-content;
}

.s4_titles {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20% 24px 2%;
  padding-right: 0;
}

.s4_h2 {
  padding: 0;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 24px;
  color: #3b6ce1;
  line-height: 20px;
}

.s4_h1 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #000000;
  line-height: 56px;
}

.s4_img-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}

.s4_img1 {
  margin: 14% 0 auto auto;
  position: absolute;
  top: 0%;
  left: 4%;
  z-index: 2;
  width: 60%;
  height: auto;
}
.s4_img2 {
  margin: 20% 0 auto auto;
  position: absolute;
  top: 28%;
  left: 38%;
  z-index: 3;
  width: 55%;
  height: auto;
}
.s4_img3 {
  margin: 20% 0 auto auto;
  position: absolute;
  top: 42%;
  left: 16%;
  z-index: 1;
  width: 20%;
  height: auto;
}
.s4_content {
  width: 100%;
}

.s4_content-left {
  display: block;
}

.s4_container-text {
  padding: 0;
}

.s4_text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #111111;
  line-height: 28px;
  padding: 0 24px;
}



.s4_container-button {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.s4_button {
  margin-right: 10%;
  width: max-content;
  padding: 1% 2%;
  height: max-content;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  background-color: #3b6ce1;
}

.s4_button:hover {
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(4px);
  box-shadow: 0 6px 8px #4d4d4d;
  cursor: pointer;
}

.s4_container-garantia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 5% 0;
  height: max-content;
}

.s4_garantia {
  width: 45%;
  height: 12vh;
  margin: 2%;
  border-radius: 24px;
}

.s4_garantia:hover {
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(8px);
  box-shadow: 0 10px 20px #4d4d4d;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .s4_img-container {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .s4_c2 {
    display: none;
    width: 0%;
    height: 0%;
  }

  .s4_c {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: none;
  }

  .s4_content {
    display: flex;
    width:  100%;
  }

  .s4_content-left {
    display: block;
    width: 50%;
  }

  .s4_container-garantia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    height: max-content;
  }

  .s4_garantia {
    width: 45%;
    height: 20vh;
    margin: 2%;
    border-radius: 12px;
  }

  .s4_h2 {
    font-size: 20px;
    line-height: 16px;
  }
  
  .s4_h1 {
    font-size: 48px;
    line-height: 48px;
  }
}



@media screen and (max-width: 1000px) {
  .s4_c {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: none;
  }

  .s4_content {
    display: block;
    width:  100%;
  }

  .s4_content-left {
    display: block;
    width: 100%;
  }

  .s4_container-garantia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    height: max-content;
  }

  .s4_garantia {
    width: 45%;
    height: 20vh;
    margin: 2%;
    border-radius: 12px;
  }

  .s4_h2 {
    font-size: 18px;
    line-height: 12px;
  }
  
  .s4_h1 {
    font-size: 42px;
    line-height: 24px;
  }
  .s4_titles {
    padding-bottom: 4%;
  }
}

@media screen and (max-width: 650px) {
  .s4_c {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: none;
  }

  .s4_content {
    display: block;
    width:  100%;
  }

  .s4_content-left {
    display: block;
    width: 100%;
  }

  .s4_container-garantia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    height: max-content;
  }

  .s4_garantia {
    width: 100%;
    height: 16vh;
    margin: 2%;
    border-radius: 12px;
  }

  .s4_h2 {
    font-size: 16px;
    line-height: 2px;
  }
  
  .s4_h1 {
    font-size: 32px;
    line-height: 16px;
  }

  .s4_size {
    height: max-content;
    padding: 6% 0;
  }
}

@media screen and (max-width: 500px) {

  .s4_h2 {
    font-size: 12px;
    line-height: 0px;
  }
  
  .s4_h1 {
    font-size: 24px;
    line-height: 14px;
  }

}