.s4_size {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 80%;
  background-color: #ffffff;
  display: flex;
}

.s4_c {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.s4_titles {
  width: 650px;
  height: auto;
  margin: 0 auto;
  padding: 70px 0 30px 0;
}

.s4_h2 {
  padding: 0 16px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 24px;
  color: #3b6ce1;
  line-height: 20px;
}

.s4_h1 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #000000;
  line-height: 48px;
}

.s4_img-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: none;
  align-items: center;
}

.s4_img1 {
  margin: 20% 0 auto auto;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: 2;
}
.s4_img2 {
  margin: 20% 0 auto auto;
  position: absolute;
  top: 32%;
  left: 38%;
  z-index: 3;
}
.s4_img3 {
  margin: 20% 0 auto auto;
  position: absolute;
  top: 42%;
  left: 16%;
  z-index: 1;
}
.s4_content {
  width: 100%;
}

.s4_container-text {
  padding: 8px 24px;
}

.s4_text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #111111;
  line-height: 28px;
}

.s4_container-button {
  width: 100%;
  display: flex;
  justify-content: right;
}

.s4_button {
  margin-right: 10%;
  width: 172px;
  height: 42px;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  background-color: #3b6ce1;
}

.s4_button:hover {
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(4px);
  box-shadow: 0 8px 12px #4d4d4d;
  cursor: pointer;
}

.s4_container-garantia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 10% 5% 0 3%;
  height: 33%;
}

.s4_garantia {
  width: 45%;
  height: 128px;
  margin: 16px;
  border-radius: 24px;
}

.s4_garantia:hover {
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(8px);
  box-shadow: 0 20px 40px #4d4d4d;
  cursor: pointer;
}
