.s6_size {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.s6_c {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
}

.s6_titles {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 6vh 0;
}

.s6_h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #222222;
  line-height: 64px;
}

.s6_h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0839b0;
  line-height: 16px;
}

.s6_content {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(./../../../imgs/Planisferio_fondo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-top: -4%;
}

.s6_comment_1 {
  width: auto;
  height: auto;
  position: absolute;
  top: 2%;
  left: 10%;
  margin: 0;
  padding: 0;
}

.s6_comment_2 {
  width: auto;
  height: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  margin: 0;
}

.s6_comment_3 {
  width: auto;
  height: auto;
  position: absolute;
  top: 32%;
  left: 12%;
  margin: 0;
}

.s6_comment_4 {
  width: auto;
  height: auto;
  position: absolute;
  top: 42%;
  left: 52%;
  margin: 0;
}

@media screen and (max-width: 1250px) {

  .s6_h2 {
    font-size: 18px;
    line-height: 18px;
  }
  
  .s6_h1 {
    font-size: 42px;
    line-height: 42px;
  }
}

@media screen and (max-width: 1200px) {
  .s6_comment_1 {
    width: auto;
    height: auto;
    position: absolute;
    top: 2%;
    left: 4%;
    margin: 0;
    padding: 0;
  }
  
  .s6_comment_2 {
    width: auto;
    height: auto;
    position: absolute;
    top: 5%;
    left: 56%;
    margin: 0;
  }
  
  .s6_comment_3 {
    width: auto;
    height: auto;
    position: absolute;
    top: 40%;
    left: 6%;
    margin: 0;
  }
  
  .s6_comment_4 {
    width: auto;
    height: auto;
    position: absolute;
    top: 48%;
    left: 58%;
    margin: 0;
  }
}

@media screen and (max-width: 1080px) {
  .s6_comment_1 {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  
  .s6_comment_2 {
    position: absolute;
    top: 23vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  
  .s6_comment_3 {
    display: none !important;
    right: 200%;
  }
  
  .s6_comment_4 {
    position: absolute;
    top: 46vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 850px) {

  .s6_h2 {
    font-size: 16px;
    line-height: 16px;
  }
  
  .s6_h1 {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (max-width: 650px) {
  .s6_h2 {
    font-size: 12px;
    line-height: 12px;
  }
  
  .s6_h1 {
    font-size: 24px;
    line-height: 24px;
  }

}


@media screen and (max-width: 475px) {
  .s6_titles {
    padding-bottom: 24px;
  }
  .s6_h2 {
    font-size: 10px;
    line-height: 10px;
  }
  
  .s6_h1 {
    font-size: 18px;
    line-height: 18px;
  }

  .s6_size {
    height: 80vh;
  }
  .s6_c {
    width: 100vw;
  }

  .s6_comment_1 {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  
  .s6_comment_2 {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  
  .s6_comment_3 {
    display: none !important;
    right: 200%;
  }
  
  .s6_comment_4 {
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }


}


@media screen and (max-width: 355px) {

  .s6_h2 {
    font-size: 10px;
    line-height: 10px;
  }
  
  .s6_h1 {
    font-size: 16px;
    line-height: 16px;
  }

}

@media screen and (max-width: 315px) {

  .s6_h2 {
    font-size: 8px;
    line-height: 8px;
  }
  
  .s6_h1 {
    font-size: 14px;
    line-height: 14px;
  }

}