.s6_size {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.s6_c {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
}

.s6_titles {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 6vh 0;
}

.s6_h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #222222;
  line-height: 64px;
}

.s6_h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3b6ce1;
  line-height: 16px;
}

.s6_content {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(./../../../imgs/Planisferio_fondo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-top: -4%;
}

.s6_comment_1 {
  width: auto;
  height: auto;
  position: absolute;
  top: 2%;
  left: 10%;
  margin: 0;
  padding: 0;
}

.s6_comment_2 {
  width: auto;
  height: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  margin: 0;
}

.s6_comment_3 {
  width: auto;
  height: auto;
  position: absolute;
  top: 32%;
  left: 12%;
  margin: 0;
}

.s6_comment_4 {
  width: auto;
  height: auto;
  position: absolute;
  top: 42%;
  left: 52%;
  margin: 0;
}

@media screen and (max-width: 1250px) {

  .s6_h2 {
    font-size: 18px;
    line-height: 18px;
  }
  
  .s6_h1 {
    font-size: 42px;
    line-height: 42px;
  }
}

@media screen and (max-width: 1000px) {
  .s6_size {
    height: 75vw;
  }
}

@media screen and (max-width: 850px) {

  .s6_h2 {
    font-size: 16px;
    line-height: 16px;
  }
  
  .s6_h1 {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (max-width: 650px) {
  .s6_size {
    height: 80vw;
  }
  .s6_h2 {
    font-size: 12px;
    line-height: 12px;
  }
  
  .s6_h1 {
    font-size: 24px;
    line-height: 24px;
  }

}

@media screen and (max-width: 515px) {

  .s6_size {
    height: 85vw;
  }

}

@media screen and (max-width: 475px) {

  .s6_h2 {
    font-size: 10px;
    line-height: 10px;
  }
  
  .s6_h1 {
    font-size: 18px;
    line-height: 18px;
  }

  .s6_size {
    height: 90vw;
  }

}


@media screen and (max-width: 355px) {

  .s6_h2 {
    font-size: 10px;
    line-height: 10px;
  }
  
  .s6_h1 {
    font-size: 16px;
    line-height: 16px;
  }

  .s6_size {
    height: 100vw;
  }

}

@media screen and (max-width: 315px) {

  .s6_h2 {
    font-size: 8px;
    line-height: 8px;
  }
  
  .s6_h1 {
    font-size: 14px;
    line-height: 14px;
  }

}