.circle_content {
  width: 600px;
  height: 600px;
}

.circle_one {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: rgba(59, 108, 225, 1);
  margin: auto;
  display: flex;
  align-items: center;
}

.circle_two {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
}

.circle_three {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: rgba(59, 108, 225, 1);
  margin: auto;
  display: flex;
  align-items: center;
}

.circle_four {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
}

.circle_five {
  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: rgba(59, 108, 225, 1);
  margin: auto;
  display: flex;
  align-items: center;
}
