* {
  margin: 0;
  padding: 0;
}

.screen_1-background {
  width: 100%;
  height: calc(100vh - 9vh);
  background-image: url(background-screen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: block;
  justify-content: center;
  width: auto;
}

.text-title-1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 112px;
  color: #000000;
  padding: 0;
  margin: 0px;
  line-height: 112px;
}

.text-title-2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 112px;
  color: #0839b0;;
}

.subtitle {
  width: 100%;
}

.text-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #222222;
  text-align: left;
  margin-left: 8px;
}


@media screen and (max-width: 1500px) {
  .text-title-1 {
    font-size: 96px;
    line-height: 96px;
  }
  
  .text-title-2 {
    font-size: 96px;
    line-height: 96px;
  }

  
  .text-subtitle {
    font-size: 24px;
  }
  
}

@media screen and (max-width: 1250px) {
  .text-title-1 {
    font-size: 72px;
    line-height: 72px;
  }
  
  .text-title-2 {
    font-size: 72px;
    line-height: 72px;
  }

  
  .text-subtitle {
    font-size: 20px;
  }

  .screen_1-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
}

@media screen and (max-width: 1000px) {
  .screen_1-background {
    width: 100%;
    height: calc(100vh - 60px);
  }
}

@media screen and (max-width: 900px) {
  .text-title-1 {
    font-size: 64px;
    line-height: 64px;
  }
  
  .text-title-2 {
    font-size: 64px;
    line-height: 64px;
  }

  
  .text-subtitle {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 700px) {
  .text-title-1 {
    font-size: 56px;
    line-height: 56px;
  }
  
  .text-title-2 {
    font-size: 56px;
    line-height: 56px;
  }

  
  .text-subtitle {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 500px) {

  .text-title-1 {
    font-size: 48px;
    line-height: 48px;
  }
  
  .text-title-2 {
    font-size: 48px;
    line-height: 48px;
  }

  
  .text-subtitle {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 370px) {
  .title {
    padding-left: 4%;
  }
  .text-title-1 {
    font-size: 56px;
    line-height: 56px;
  }
  
  .text-title-2 {
    font-size: 56px;
    line-height: 56px;
  }

  
  .text-subtitle {
    font-size: 18px;
  }
  
}