.comment_box-size {
  position: relative;
  background-color: #ffffff;
  width: 420px;
  height: 180px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.comment_box-size:hover {
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(8px);
  box-shadow: 0 20px 40px #4d4d4d;
  cursor: pointer;
}


.comment_sp {
  width: 100%;
  height: auto;
}

.comment_sp > p {
  padding: 16px 24px 0px 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.display_content {
  display: flex;
  width: 100%;
}

.display_user-info {
  position: absolute;
  bottom: 0;
  width: 60%;
  height: fit-content;
  display: flex;
}

.display_star-info {
  position: absolute;
  bottom: 0;
  width: 40%;
  right: 0;
  height: 40%;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

.user_img-sp {
  margin: 8px;
  width: 64px;
  height: 64px;
}

.user_img-size {
  height: 100%;
}

.display_user-name {
  display: block;
  align-items: center;
  padding-top: 5%;
}

.name_sp > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #000000;
}

.user_sp > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #605454;
}

@media screen and (max-width: 1400px) {
  .comment_box-size {
    width: 360px;
    height: max-content;
    min-height: 160px
  }
  .display_content {
    display: flex;
    width: 100%;
    height: max-content;
  }
  .display_user-info {
    position: absolute;
    top: 0;
    width: max-content;
  }
  .user_img-sp {
    margin: 8px;
    width: 42px;
    height: 42px;
  }
  .name_sp > h1 {
    padding-top: 8px;
    line-height: 8px;
    font-size: 14px;
  }
  .comment_sp {
    width: 100%;
    height: auto;
    position: absolute;
    top: 22%;
  }
  .comment_sp > p {
    padding: 24px 8px;
    font-size: 12px;
  }

  .display_star-info {
    position: absolute;
    bottom: 12px;
    width: max-content;
    left: 8px;
    height: 20%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .comment_box-size {
    width: 280px;
    height: max-content;
    min-height: 120px
  }
  .display_content {
    display: flex;
    width: 100%;
    height: max-content;
  }
  .display_user-info {
    position: absolute;
    top: 0;
    width: max-content;
  }
  .user_img-sp {
    margin: 6px;
    width: 32px;
    height: 32px;
  }
  .name_sp > h1 {
    padding-top: 4px;
    line-height: 8px;
    font-size: 10px;
  }
  .user_sp > h2 {
    line-height: 8px;
    font-size: 8px;
  }
  .comment_sp {
    width: 100%;
    height: auto;
    position: absolute;
    top: 22%;
  }
  .comment_sp > p {
    padding: 18px 6px;
    font-size: 9px;
  }

  .display_star-info {
    position: absolute;
    bottom: 12px;
    width: max-content;
    left: 8px;
    height: 20%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 380px) {
  .comment_box-size {
    width: 240px;
    height: max-content;
    min-height: 120px
  }
  .display_content {
    display: flex;
    width: 100%;
    height: max-content;
  }
  .display_user-info {
    position: absolute;
    top: 0;
    width: max-content;
  }
  .user_img-sp {
    margin: 6px;
    width: 28px;
    height: 28px;
  }
  .name_sp > h1 {
    padding-top: 4px;
    line-height: 6px;
    font-size: 8px;
  }
  .user_sp > h2 {
    line-height: 4px;
    font-size: 6px;
  }
  .comment_sp {
    width: 100%;
    height: auto;
    position: absolute;
    top: 22%;
  }
  .comment_sp > p {
    padding: 18px 6px;
    font-size: 8px;
  }

  .display_star-info {
    position: absolute;
    bottom: 12px;
    width: max-content;
    left: 8px;
    height: 20%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}