.comprarAccion_size {
    width: 100%;
    height: 91vh;
    display: block;
    border-top: 2px solid #cccccc;;
}
.comprarAccion_content {
    width: 100%;
    height: 100%;
    display: flex;
}

.comprarAccion_column-1 {
    width: 20%;
    height: 100%;
    border-right: 2px solid #cccccc;
}

.comprarAccion_column-2 {
    width: 80%;
    height: 100%;
    background-color: #dddddd;
    padding-bottom: 10vh;
}

.comprarAccion_column-2-content {
    display: block;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10vh;
}

.comprarAccion_column-2-transf {
    width: 100%;
    height: max-content;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    overflow: hidden;
}

.comprarAccion_column-2-transf-form {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.comprarAccion_column-2-transf-info {
    display: block;
    width: 100%;
    height: 100%;
}

.comprarAccion_column-2-transf-title {
    width: 100%;
    height: max-content;
    padding: 5%;
    padding-bottom: 0;
    margin: 0;
}

.creando-transferencia-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.comprarAccion_column-2-transf-h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #000000;
    list-style: none;
    margin: 0;
}
.comprarACcion_isntrumento_spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comprarAccion_column-2-transf-h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #555555;
    list-style: none;
    padding: 0 1%;
}

.comprarAccion_error_msg {
    color: red;
    opacity: 85%;
}

.comprarAccion_column-2-transf-dest {
    width: 100%;
    height: max-content;
    display: block;
    padding: 5%;
}

.comprarAccion_column-2-transf-monto {
    width: 100%;
    height: max-content;
    display: block;
    padding:2% 5%;
}

.comprarAccion_column-2-transf-input {
    width: 100%;
    height: 5vh;
    border: none;
    background-color: none;
    border-bottom: 2px solid #cccccc;
    padding: 1%;
}

.comprarAccion_column-2-bttn-volver {
    width: 50%;
    height: 6vh;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 5vh;
}

.comprarAccion_column-2-bttn-volver:hover {
    background-color: #eeeeee;
}

.comprarAccion_column-2-bttn-volver-bttn {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.comprarAccion_column-2-bttn-enviar {
    width: 100%;
    height: 8vh;
    text-align: center;
    display: block;
    background-color: #cccccc;
}

.comprarAccion_column-2-bttn-enviar:hover {
    background-color: #eeeeee;
}

.comprarAccion_column-2-bttn-enviar-bttn {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.comprarAccion_column-2-transf-modificando {
    width: 100%;
    height: 20vh;
    padding: 5%;
    padding-bottom: 0;
    margin: 0;
    justify-content: center;
}

.comprarAccion-loading {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}
